body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
  color: var(--font-color);
}

.container {
  padding: 1rem;
  display: grid;
  grid-template: 
  "info editor" calc(100vh - 1rem - 30px) / 1fr 1fr;
  gap: 20px;

}

h1 {
  padding: 0;
  margin: 0;
}

#info {
  grid-area: info;
  overflow-y: scroll;
  padding: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  color: var(--font-color);
  font-size: 1.35rem;
}

#description {
  margin-left: 20px;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

code {
  background: var(--code-color);
  padding: 1px 4px;
  border-radius: 2px;
}

.example > * {
  margin-bottom: 0.3rem;
}

.example__number {
  margin-bottom: 0.8rem;
  margin-top: 1.2rem;
  font-weight: 600;
}

#editor {
  grid-area: editor;
}
.CodeMirror {
  margin-top: 2rem;
  height: 85vh;
}

button, select {
  margin-bottom: 1rem;
  margin-left: 0.8rem;
  font-size: 1.2rem;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 8px;
  cursor: pointer;
  color: var(--font-color);
}


button {
  padding: 10px 15px;
}
.select-wrapper {
  display: inline-block;
  position: relative;
}
.select-wrapper:after {
  content:"▼";
  color: var(--font-color);
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 15;
}
select {
  padding: 10px 30px 10px 10px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
#challenge-output {
  display: none;
}
#time:not(:empty), #memory:not(:empty) {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 1.3rem;
}

#time:not(:empty) {
  color: var(--time-font-color);
  border: 2px solid var(--time-border-color);
  background-color: var(--time-bg-color);
}

#memory:not(:empty) {
  margin-top: 1rem;
  color: var(--memory-font-color);
  border: 2px solid var(--memory-border-color);
  background-color: var(--memory-bg-color);
}

.output:not(:empty) {
  padding: 20px;
  border-radius: 8px;
  max-height: 20vh;
  overflow-y: scroll;
}

#stdout .output:not(:empty) {
  color: var(--stdout-font-color);
  border: 2px solid var(--stdout-border-color);
  background-color: var(--stdout-bg-color);
}

#stderr .output:not(:empty) {
  color: var(--stderr-font-color);
  border: 2px solid var(--stderr-border-color);
  background-color: var(--stderr-bg-color);
}

#dark-light-mode {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 1.3rem;
  cursor: pointer;
}
