<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <button onclick="runCode()">Run code</button>
    <select id="language" onchange="switchHelpers(this.value)">
      <% Object.keys(languages).forEach(language => {%>
      <option value="<%= language %>"><%= languages[language].name %></option>
      <% }) %>
    </select>
    <textarea id="data" value="toto"></textarea>
    <p style="color: green" id="success"></p>
    <p id="stdout"></p>
    <p style="color: red" id="stderr"></p>
  </body>
  <script>
    const helpers = <%- JSON.stringify(helpers) %>
    const textArea = document.getElementById('data')
    let selectedLanguage = document.getElementById('language').value
    textArea.value = helpers[selectedLanguage]

    async function switchHelpers(language) {
      helpers[selectedLanguage] = textArea.value
      console.log(helpers)
      textArea.value = helpers[language]
      selectedLanguage = language
    }

    async function runCode() {
      try {
        const data = textArea.value;
        const rawResponse = await fetch(
          'http://localhost:3000/<%= challenge %>',
          {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              language: selectedLanguage,
              data,
            }),
          }
        );
        const content = await rawResponse.json();
        let stdoutElem = document.getElementById('stdout');
        stdoutElem.textContent = content['stdout'];
        let stderrElem = document.getElementById('stderr');
        stderrElem.textContent = content['stderr'];
        let successElem = document.getElementById('success');
        successElem.textContent = content['success'] ? 'Success !' : '';
      } catch (err) {
        console.log(err);
      }
    }
  </script>
</html>
